.outer-login-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

.login-block {
  background-color: rgba(57, 98, 221, 0.236);
  /* border: medium outset black; */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 3cqh rgb(117, 9, 159); 
  backdrop-filter: blur(30px);
  /* backdrop-filter: blur(5px); */
  
}


.login-block input {
  margin: 40px;
  display: block;
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px;
}

.login-block button {
  
  padding: 10px;
  border-radius: 2px 10px;
  background-color: rgb(68, 255, 0);
  transition: all 600ms ease-out;
  margin-right: 20px;
  border-color:  red yellow blue orange ;
}

.login-block button:hover {
  
  cursor: pointer;
  background-color: red;
  border-radius: 10px 2px;
  padding: 20px;
  text-size-adjust: inherit;
  
}

.login-block a{
  text-decoration: none;

}

.bottom-login-click-layer{
  display: flex;
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
  gap: 10px; /* Optional: Space between items */
  width: 100%; /* Optional: Adjust width as needed */


}

.login-block img{
  height:7rem;
  width: 7rem;
  position: relative;
  display: block;
  margin: 0px auto;
  padding: 2px;
  background: linear-gradient(to right,rgb(255, 128, 0),yellow);
  background-blend-mode: overlay;
  border-radius: 20px;
  backdrop-filter: blur(60px);
  transform: scaleZ(10px);
  
  
  
}

